@{
    ViewBag.Title = "Rich Text Edit";
}

@using (Html.BeginForm())
{
    @Html.Partial("RichEditPartial")
}
@Html.Action("VarListBoxPartial")
<div style="margin-top:150px; margin-left:0px">
    @Html.DevExpress().Button(settings =>
        {
            settings.Name = "btAdd";
            settings.Text = "Add Field";
            settings.ClientSideEvents.Click = "OnAddClick";
        }).GetHtml()
</div>